html {
  background: url("https://images.unsplash.com/photo-1490359144708-3329fae5c6e8?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;w=1000&amp;q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
body {
  margin: 0 0;
}
header {
  height: 8vh;
  width: 100vw;
  border-bottom: 2px solid #fff;
  position: relative;
  padding: 23px 0px 9px 10px;
  .navigation {
    position: relative;
    .title {
      font-size: 16px;
    }
    padding: 20px 0 10px 0;
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content: center;
    .left {
      position: absolute;
      left: 3%;
      letter-spacing: 1px;
    }
    .middle {
      margin: 0 130px 0 0px;
      text-align: center;
      letter-spacing: 1px;
    }
    .submit {
      position: absolute;
      right: 19%;
    }
    .glass {
      height: 25px;
      width: 25px;
      position: absolute;
      right: 13.5%;
      top: 15%;
    }
    &:hover {
      cursor: pointer;
    }
    .hamburger {
      position: absolute;
      right: 8%;
      height: 25px;
      width: 25px;
      top: 15%;
    }
    .active {
      border-bottom: 3.8px solid #fff;
      padding-bottom: 45.7px;
    }
    &:hover {
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #414141;
      font-family: Arial-black, sans-serif;
      font-weight: 600;
      font-size: 15px;
    }
  }
}
.main-content {
  font-family: Arial-black, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  .number-1 {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    left: 7.3%;
    top: 135px;
    color: white;
    .dots {
      vertical-align: top;
    }
  }
  .number-4 {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    left: 7.3%;
    top: 550px;
    color: white;
    .dots {
      vertical-align: top;
    }
  }
  .slider {
    position: absolute;
    left: 9%;
    top: 178px;
    width: 2px;
    height: 380px;
    background-color: #d8d8d8;
    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4 {
      &.active {
        background-color: white;
      }
      width: 2px;
      height: 95px;
    }
  }
  .main-text {
    position: absolute;
    left: 18.3%;
    top: 130px;
    .main-ttl {
      color: white;
      font-size: 6rem;
      letter-spacing: 1px;
      margin-bottom: 10px;
      .punctuation {
        font-family: "karla", sans-serif;
      }
    }
    .ttl-des {
      color: white;
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }
  .lower-slider {
    position: absolute;
    right: 1%;
    top: 640px;
    width: 390px;
    color: white;
    background-color: white;
    height: 2px;
  }
  .previous {
    position: absolute;
    right: 44%;
    top: 740px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.884);
  }
  .next {
    position: absolute;
    right: 50%;
    top: 740px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.884);
  }
  .lower-content {
    height: 182px;
    width: 550px;
    color: rgba(255, 255, 255, 0.836);
    background: url("../css/images/sand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    top: 662px;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    .up-next-carousel {
      z-index: 1000;
      border: 1 orange solid;
      background-color: rgba(0, 0, 0, 0.884);
      height: 180px;
      width: 100px;
      padding: 13px 13px;
      .next-info {
        z-index: 1000;
        border: 1 orange solid;
        background-color: rgba(0, 0, 0, 0.884);
        height: 180px;
        width: 100px;
      }
    }
  }
}

//Responsive center
@media only screen and (max-width: 1280px) {
  header {
    height: 7vh;
    padding: 22px 0px 10px 40px;
    .navigation {
      padding: 13px 0 10px 0;
      .title {
        font-size: 16px;
      }
      .middle {
        margin: 0 110px 0 00px;
        text-align: center;
      }
      a {
        font-size: 14px;
      }
      .glass {
        top: 12%;
      }
      .hamburger {
        top: 12%;
      }
      .active {
        border-bottom: 5px solid #fff;
        padding-bottom: 28px;
      }
    }
  }
  .main-content {
    .number-1 {
      position: absolute;
      left: 5.8%;
      top: 90px;
      color: white;
      .dots {
        vertical-align: top;
      }
    }
    .number-4 {
      position: absolute;
      left: 5.8%;
      top: 420px;
      color: white;
      .dots {
        vertical-align: top;
      }
    }
    .slider {
      position: absolute;
      left: 8%;
      top: 130px;
      width: 2px;
      height: 300px;
      background-color: #d8d8d8d0;
      .slide-1,
      .slide-2,
      .slide-3,
      .slide-4 {
        &.active {
          background-color: white;
        }
        width: 2px;
        height: 75px;
      }
    }
    .main-text {
      left: 15%;
      top: 80px;
      .main-ttl {
        font-size: 5.4rem;
        margin-bottom: 6px;
        .punctuation {
          font-family: "karla", sans-serif;
        }
      }
      .ttl-des {
        color: white;
        font-size: 0.7rem;
        font-weight: lighter;
      }
    }
    .lower-slider {
      position: absolute;
      right: 1%;
      top: 405px;
      width: 390px;
      color: white;
      background-color: white;
      height: 2px;
    }
    .previous {
      position: absolute;
      right: 54%;
      top: 530px;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.884);
    }
    &:hover {
      cursor: pointer;
    }
    .next {
      position: absolute;
      right: 61%;
      top: 530px;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.884);
    }
    &:hover {
      cursor: pointer;
    }
    .lower-content {
      height: 201px;
      width: 550px;
      right: 0%;
      top: 422px;
      font-size: 14px;
      font-family: "Roboto Mono", monospace;
      .up-next-carousel {
        height: 175px;
        width: 100px;
        padding: 13px 13px;
        .next-info {
          height: 180px;
          width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    height: 4vh;
    padding: 22px 0px 10px 10px;
    .navigation {
      padding: 13px 0 10px 0;
      .title {
        font-size: 13px;
      }
      .middle {
        margin: 0 60px 0 -10px;
        text-align: center;
        letter-spacing: 1px;
      }
      a {
        font-size: 11px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 4vh;
    padding: 16px 10px 10px 10px;
    .navigation {
      padding: 12px 0 10px 0;
      .middle {
        margin: 0 20px 0 -10px;
        text-align: center;
        letter-spacing: 1px;
      }
      a {
        font-size: 7px;
      }
    }
  }
}
